### Miscellaneous
.DS_Store
Thumbs.db
.htaccess
node_modules
debug.log

### Composer
composer.lock
/vendor/

### IDE
.idea/

### Wordpress
/cms/*
!/cms/.gitkeep
/src/plugins/*
/src/languages/*
/src/uploads/*
!/src/uploads/.gitkeep
/src/themes/*
!/src/themes/.gitkeep
!/src/themes/base

/src/storage/cache/*
/src/storage/logs/*
/src/storage/meta/*
/src/storage/sessions/*
/src/storage/views/*

# Compiled Assets
_global.css
_global.min.css
_global.js
_global.min.js

### Environment Credentials
/.env.*.php