body{
	font-family: Georgia, "Bitstream Charter", serif;
	font-size: 1.6em;
	line-height: 1.5em;
	color: #666;
	background-color: #fff6ed;
}

#header {
    padding: 30px 0;
	
}

a:link, 
a:visited {
    color: #ec5959;

}


a:hover {
    color: #D31818;

    text-decoration: none;
}


a:active {
	
}


.form-control {
    background-color: transparent;
    box-shadow: none;
    border-color: rgb(247, 196, 181);
}
.form-control:focus {
    box-shadow: none;
    border-color: rgb(237, 137, 114);
}

.btn-default {
  color: #ec5959;
  background-color: transparent;
  border-color: rgb(247, 196, 181);
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #F2794D;
  border-color: rgb(236, 126, 94);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}


.page-title {
    font-weight: 400;
    font-style: italic;
}